 <div class="navbar w-full bg-amber-200 flex justify-center">
    <div class="p-2 w-4/6 flex justify-end">
      <button routerLink="home" mat-raised-button>
        <img class="w-full w-20" src="assets/logo/toca-logo.png" >
      </button>
    </div>
   <div class="mr-4 w-2/6 self-center flex justify-end">
     <button  mat-button [matMenuTriggerFor]="menu">
       <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
     </button>
     <mat-menu #menu="matMenu">
       <button routerLink="home" mat-menu-item>
         <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
         Inicio
       </button>
       <button mat-menu-item>
         <mat-icon aria-hidden="false" aria-label="Example home icon">list</mat-icon>
         Lista
       </button>
       <button routerLink="login" mat-menu-item>
         <mat-icon aria-hidden="false" aria-label="Example home icon">exit_to_app</mat-icon>
         Sair
       </button>

     </mat-menu>
   </div>

  </div>

