<form class="mt-4 w-full flex justify-center flex-col items-center">
  <div [formGroup]="data" class="flex justify-center w-11/12 h-full flex-col ">
    <mat-form-field [formGroup]="data" class="w-full" appearance="fill">
      <mat-label>Nome</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Data de nascimento</mat-label>
<!--      <input matInput formControlName="birthDate"  [matDatepicker]="picker">-->
<!--      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #picker></mat-datepicker>-->
      <input formControlName="birthDate"  type="date" matInput>
    </mat-form-field>
    <mat-form-field  class="w-full" appearance="fill">
      <mat-label>Endereço</mat-label>
      <input formControlName="address" matInput>
    </mat-form-field>
    <mat-form-field  class="w-full" appearance="fill">
      <mat-label>Bairro</mat-label>
      <input formControlName="district" matInput>
    </mat-form-field>
 <div>
   <mat-form-field  class="w-full" appearance="fill">
     <mat-label>Celular</mat-label>
     <input formControlName="phone" matInput mask="(00) 00000-0000">
   </mat-form-field>
 </div>
    <mat-form-field appearance="fill">
      <mat-label>IGREJA: </mat-label>
      <mat-select formControlName="churchStatus">
        <mat-option  *ngFor="let church of churchStatusEnum" [value]="church.code">
          {{church.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>BATISMO: </mat-label>
      <mat-select formControlName="christeningStatus">
        <mat-option  *ngFor="let christening of christeningEnum" [value]="christening.code">
          {{christening.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field  class="w-full" appearance="fill">
      <mat-label>Como conheceu a TOCA? </mat-label>
      <input formControlName="details" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>HOJE VOCÊ DECIDIU: </mat-label>
      <mat-select formControlName="decisionType">
        <mat-option  *ngFor="let decision of decisionEnum" [value]="decision.code">
          {{decision.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" (click)="save()" mat-raised-button class="bg-amber-400">Salvar</button>
  </div>
  <spinner-loading *ngIf="loading"></spinner-loading>
</form>
