.list{
  .title{
    margin-top: 10px;
    .title-text{
      font-size: 20px;
    }
  }

  .search{
    margin-top: 10px;
    .search-title{
      text-align: center;
      margin-bottom: -16px;
    }

    .search-input{
      text-align: center;
      input{
        border-radius: 110px;
      }
    }
  }
}


.group{
  flex-wrap: wrap;
  .item{
    margin:10px;
    max-width: 122px;
    min-width: 122px;
    flex-wrap: wrap;
    mat-label{
      font-weight: bold;
    }
  }
}


mat-panel-title{
  max-width:50% !important;
  width:100%;
}

mat-panel-description{
  text-align: end;
}
