<div class="list w-full flex justify-center flex-col">
  <div class="title w-full flex justify-center">
    <p class="title-text text-sm">Lista de Visitantes</p>
  </div>

<!--  <mat-form-field class="example-form-field" appearance="fill">-->
<!--    <mat-label>PESQUISAR POR NOME</mat-label>-->
<!--    <input (change)="getAllvisitors()" matInput type="text" [(ngModel)]="searchData">-->
<!--    <button *ngIf="searchData" matSuffix mat-icon-button aria-label="Clear" (click)="searchData=''">-->
<!--      <mat-icon>close</mat-icon>-->
<!--    </button>-->
<!--  </mat-form-field>-->
  <!--  <mat-form-field appearance="fill">-->
  <!--    <mat-label>Paramêtro de pesquisa</mat-label>-->
  <!--    <mat-select  *ngFor="let param of searchParams" [(ngModel)]="params">-->
  <!--      <mat-option  [value]="param.code">-->
  <!--        {{param.text}}-->
  <!--      </mat-option>-->
  <!--    </mat-select>-->
  <!--  </mat-form-field>-->
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>PESQUISAR POR NOME</mat-label>
    <input (change)="getAllVisitors()" matInput type="text" [(ngModel)]="searchData">
    <button *ngIf="searchData" matSuffix mat-icon-button aria-label="Clear" (click)="searchData=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <div *ngIf="loadingData" class="flex justify-center mt-10 h-screen items-top">
    <simple-spinner></simple-spinner>
  </div>

  <div *ngIf="visitors?.length === 0" class="w-full text-center mt-20">
    <p>Não há visitantes salvos</p>
  </div>

  <div class="mt-10" *ngIf="!loadingData">
    <mat-accordion *ngFor="let disciple of visitors">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title class="flex justify-start w-2/4 panel-name">
            {{disciple.name}}
          </mat-panel-title>
          <mat-panel-description class="flex justify-end w-2/4">
            {{disciple?.phone || 'Sem número cadastrado'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="w-full flex flex-col">

          <div class="flex justify-center group">
            <div class="item">
              <mat-label>Idade</mat-label>
              <p>{{ageCalc(disciple.birthDate)}}</p>
            </div>
            <mat-divider></mat-divider>
            <div class="item">
              <mat-label>Nascimento</mat-label>
              <p>{{disciple.birthDate | date: 'dd/MM/yyyy'}}</p>
            </div>
            <div class="item">
              <mat-label>Como chegou aqui? </mat-label>
              <p>{{disciple.visitorType}}</p>
            </div>
          </div>

        </div>
        <div class="flex justify-center">
          <button class="flex content-center" (click)="deleteById(disciple.id)" mat-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
            Deletar
          </button>
          <button class="flex content-center" (click)="generateDisciple(disciple.id)" mat-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
            Gerar discipulo
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <spinner-loading *ngIf="loading"></spinner-loading>


</div>
